$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$redbackground: 9D2E2C;
$pale-yellow: F9EA99;
$pale-blue: 7DB6D5;
$pale-orange: E7A555;
$charcoal: 4A4747;

body {
  background-color: $redbackground;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.featured {
  background-color: $redbackground;
  font-size: 55px;
}
